:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #06082C;
}

a:hover svg path {
  stroke: #06082C;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  color: #06082C;
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}
